/* SKUItemDetails.css */
.sku-details {
    max-height: 70vh;
    overflow-y: auto;
}

.item-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.loader-small {
    margin: 16px;
}

.pie-chart {
    display: 'flex';
    justify-content: 'center';
    height: '30rem';
}
